<div class="container">
	<div class="row">
		<h1>Eat-Da-Burger!</h1>
	</div>
	<div class="row">
<!-- PSUEDOCODE -->
	<!-- A column that contained the burger image and h1 text "Eat-Da-Burger" would go here -->
	</div><!-- /.row -->
	<div class="row">
	<!-- A column that contained the list of burgers added would show here -->
	<!-- A column that added the burgers added would show here -->
		<!-- <div class="form-group">
					<label for="addBurger">Burger Name:</label>
					<input type="text" id="addBurger" name="burgerName">
				</div> -->
	<!-- A column that contained the list of EATEN urgers added would show here -->
	</div><!-- /.row -->